    header {
	  width: 60vw; 
	  background: rgba(240, 240, 240, 0.8);
	  padding: 20px;
	  margin: 0 auto;
	  text-align: center;
	  font-family:Verdana, Geneva, Tahoma, sans-serif;
	  border-radius: 50%;	
	}

	header:hover {
		background-color: blueviolet;
	} 
	
	
	body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
	  background-image: url('math-background.jpg'); 
	  background-size: cover; 
	  background-repeat: no-repeat; 
	  background-position: center center;
      background-attachment: fixed;
	  padding: 20px;
	  margin: 0 auto;
	  margin-top: 20vh;
	  text-align: center;
    }
	
	#Main-Problem {
		display: flex;
		flex-direction: column;
		justify-content:space-around;
		align-items:center;
		width: 90vw;
		height: 20vh; 
		background: rgba(240, 240, 240, 0.8);
		font-size: 24px;
		padding: 20px;
		margin: 0 auto;
		border-radius: 50%;
	}

	#difficulty-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 6vh;
		gap: 2px;
		border: 2px solid black;

	}
	
	#result {
		width: 60vw; 
		background: rgba(240, 240, 240, 0.8);
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 24px;
		padding: 20px;
		margin: 0 auto;	
		border-radius: 50%;	
	}
	
	
    #problem {
		font-size: 24px;
		padding: 20px;
		margin: 0 auto;
    }

	#problem-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 5vh;
		justify-content: space-between;
		gap: 2px;
		border: 2px solid black;
	}

	#submit-button {
		height: 4vh;
		width: 10vw;
	}

	#newProblemButton {
		margin-bottom: 3vh;
		height: 4vh;
		width: 10vw;
	}
	
    #submission {
	font-size: 20px;
    margin: 0 auto;
    }