    header {
	  width: 60vw; 
	  background: rgba(240, 240, 240, 0.8);
	  padding: 20px;
	  margin: 0 auto;
	  text-align: center;
	  font-family:Verdana, Geneva, Tahoma, sans-serif;
	  border-radius: 50%;	
	}

	header:hover {
		background-color: blueviolet;
	} 
	
	
	body {
      font-family: Arial, sans-serif;
	  background-image: url('math-background.jpg'); 
	  background-size: cover; 
	  background-repeat: no-repeat; 
	  background-position: center center;
      background-attachment: fixed;
	  padding: 20px;
	  margin: 0 auto;
	  text-align: center;
    }
	
	#Main-Problem {
		width: 90%; 
		background: white;
		font-size: 24px;
		padding: 20px;
		margin: 0 auto;
	}
	
	#result {
		width: 90%; 
		background: white;
		font-size: 24px;
		padding: 20px;
		margin: 0 auto;		
	}
	
	
    #problem {
		font-size: 24px;
		padding: 20px;
		margin: 0 auto;
    }
	
    #submission {
	font-size: 20px;
    margin: 0 auto;
    }